/* Contenedor principal */
.formulario {
    background-color: whitesmoke; /* Un color de fondo claro */
    padding: 20px;
    border-radius: 8px;
    margin: auto auto; /* Centrado en la página */
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8); /* Sombra sutil */
    }
   
  /* Campos de entrada */
  .campos {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px;
    margin-bottom: 15px; /* Espacio entre campos */
    border: 1px solid #ccc;
    background-color: white;
    color: rgb(78, 76, 76);
    border-radius: 4px;
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
  }
  
  /* Etiquetas */
  .etiqueta {
    display: block; /* Pone cada etiqueta en su propia línea */
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Botón de envío */
  .btnEnviar {
    width: 100%;
    padding: 12px 20px;
    background-color: #007bff; /* Un color de botón azul */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btnEnviar:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
  }