@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=Pirata+One&display=swap');

.header {
  display: grid;
  justify-content: space-between; 
  align-items: center; 
  padding: 2px 40px;
  border-bottom: 3px solid rgb(0, 121, 0);
  flex-wrap: wrap;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: rgb(70, 197, 70);
  position: sticky;
  top: 5px;
}

.logo {
  display: flex;
  align-items: center;
  flex-basis: 10%;
}

.navbarContainer {
  flex-basis: 80%; 
  text-align: center;
}

.iconsContainer {
  flex-basis: 10%; 
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  
}

.iconoDeCarrito {
  position: relative;
  cursor: pointer;
}

.contadorDeCarrito {
  position: absolute;
  top: -8px; 
  right: -10px; 
  background-color: rgb(11, 11, 11);
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
}

.icono {
  font-size: 24px;
  cursor: pointer;
  margin: 0;
}

.login {
  border: none;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  margin: 5px 20px  0px;
}
